@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Caveat&family=Noto+Sans+KR:wght@300;500;700&family=Pacifico&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */




*{margin: 0; padding: 0;}


.no-flexboxlegacy .ie {
    /* ie랑 크롬이랑 다른 클래스명 */
    display: block;
}

.ie {
    display: none;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    text-align: center;
    box-sizing: border-box;
    padding: 20vw 10vw;
    z-index: 500;
    background-color: #ff9d10;
}

.ie p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    color: #ff6600;
}
.ie h2 {
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    font-size: 30px;
    color: #ff6600;
    padding-top: 20px;
    padding-bottom: 40px;
}
.ie h2::after{
    content: "";
    width: 100%; height: 2px;
    position: absolute;
    left: 0;  bottom: -5px;
    background-color: #ff6600;
    animation: underline 1s infinite both alternate;
}
@keyframes underline{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}